<html>
<a id="Mainpage" href="../index.html"><button class="button button2">Back To Main DataBase</button></a>

    <h3>Add new people:</h3>
    <form id="addstudents" action="/students" method="post">
        First name: <input type="text" name="fname"><br>
        Last name: <input type="text" name="lname"><br>
        GPA: <input type="number" name="gpa"><br>
        ClubID: <input type="number" name="cid"><br>
        <input type="submit" value="Submit">
    </form>
    <br/>

    <form id='filter_people' action='' method=''>
    <!--- this form does not submit directly, the button handles all the interaction with backend -->
        <label> Filter by ID </label>
        <select id='homeworld_filter' name="homeworld"> 
            {{#each planets}}
            <option value={{id}}>{{id}}</option>
            {{/each}}
        </select><br>
        <input type="button" value="Filter" onclick="filterPeopleByHomeworld()">
    </form>

    <h3>Current Students:</h3>
    <table>
        <thead>
            <th>First Name</th> 
            <th>Last Name</th> 
            <th>GPA</th>
            <th>Student ID</th>
            <th>Club ID</th>
        </thead> 
        <tbody>
            {{#each students}} 
            <tr> 
                <td>{{first_name}}</td>
                <td>{{last_name}}</td> 
                <td>{{GPA}}</td> 
                <td>{{studentID}}</td>
                <td>{{fk_clubID}}</td> 
            </tr> 
            {{/each}} 
        </tbody> 
    </table>

</html>
